@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

html,
body {
    font-family: 'Roboto Slab', serif;
    height: 100%;
    overflow: hidden
}

body {
    background: linear-gradient(to bottom, #708090 0%, #ADD8E6 100%);
}

#app {
    font-family: 'Roboto Slab', serif;

}