@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

html,
body {
    font-family: 'Roboto Slab', serif;
    background: rgb(115, 115, 115);
    background: radial-gradient(circle, rgba(115, 115, 115, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

body {
    padding: 0;
    margin: 0;
}

#app {
    font-family: 'Roboto Slab', serif;
}