/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow: hidden
}

body {
    background: linear-gradient(to bottom, #708090 0%, #ADD8E6 100%);
}